<%- include ('../partials/header'); -%>
 
    <div class="container">
<header class="jumbotron">
        
            <h3><%= pageTitle %></h3>
                <div>
                <form  method="get">
                    <label for="fname">First name:</label>
                    <input type="text" id="fname" name="fname"><br><br>
                    <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname"><br><br>
                    <label for="mail">Mail Address</label>
                    <input type="text" id="mail" name="mail"><br><br>
                    <input type="submit" value="Submit">
                  </form>
                </div>

                <h3>About Me</h3>
                <p>Hi guys, my name is Allen. I am doing Computer Programming in Georgian College. I am doing my final semester now. My dream is to travel around world. I love kayaking and fishing.</p>
</div> 
<%- include ('../partials/footer'); -%>
