<%- include ('../partials/header'); -%>
 
    <div class="container">
<header class="jumbotron">
        <h1>Welcome Homse<h1>
            <h1><%= pageTitle %><h1>
    </header>

    <div>
        <p>THis is the beginning of my insane ramblings</p>
    </div>
</div> 
<%- include ('../partials/footer'); -%>
